PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eduyuz?schema=public"
JWT_SECRET="eduyuz-super-secret-key-2026"
JWT_EXPIRATION="7d"

TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
ESKIZ_EMAIL="your_email@domain.com"
ESKIZ_PASSWORD="your_password"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
WEB_APP_URL="http://localhost:3001"
